.c1{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: darkgreen;
}
.c2{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: darkmagenta;
    position: relative;
    top: 0px;
}
.c22{
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 0px;
}
.c3{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: deeppink;
}
.c4{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: darkslateblue;
}