*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

div{
    padding: 50px;
    height: 350px;
    width: 500px;
    color: white;
    border: 2px solid blue;
}

form{
    margin-top: 10px;
    border: 1px solid aliceblue;
}

input{
    color: white;
}

