*{
    font-family: ulp-font, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
}
img{
    margin-left: 100px;
    margin-top: 2px;
    width: 190px;
}

h1{
    /* padding: 10px; */
    /* margin-top: 10px; */
    font-size: 22px;
    font-weight: lighter;
    color: rgb(32, 31, 31);
    text-align: center;
}

p{
    padding: 10px;
    font-size: 14px;
    color: grey;
    text-align: center;
}

div{
    /* padding: 50px; */
    height: 560px;
    width: 400px;
    border: 1px solid blue;
}

.form{
    margin-left: 50px;
}

fieldset{
    border: 1px solid blue;
    height: 50px;
}
legend{
    font-size: 16px;
}

.fpwd{
    color: blue;
}

#continue{
    margin-top: 7px;
    height: 50px;
    width: 300px;
    background-color: blue;
    color: white;
    border: none;
}