<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
       .s1 div{
            border: 2px solid blue;
            padding: 10px;
            margin: 12px;
            float: left;
            width: 23%;
            box-sizing: border-box;
            height: 300px;

        }
        .s2 div{
            border: 2px solid blue;
            padding: 10px;
            margin: 12px;
            float: left;
            width: 90%;
            box-sizing: border-box;
            height: 100px;
        }
    </style>
</head>
<body>
    <section class="s1">
        <div>one</div>
        <div>two</div>
        <div>three</div>
        <div>four</div>    
    </section>
    <section class="s2">
        <div>one</div>
    </section>
</body>
</html>