.dropdown-btn{
    background-color: royalblue;
    color: white;
    border: none;
    padding: 15px 45px;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 38px;
}

.dropdown-content:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    display: none;
    background-color: whitesmoke;
    position: absolute;
}
section, .main{
    display: flex;
    flex: 1;
    margin: 5px;
}

.main:nth-child(1){
    display: flex;
    flex: 2;
}